
{% if interfaces is defined and interfaces %}
interfaces {
    {% for interface in interfaces %}
    {{ interface.name}} {
        {% if interface.name.startswith('ge-') or
                interface.name.startswith('xe-') or 
                interface.name.startswith('et-') or 
                interface.name.startswith('ae') %}
            {% if interface.bundle is not defined %}
                {% if interface.mtu is defined and interface.mtu %}
        mtu {{ interface.mtu }};
                {% else %}
        mtu 9216;
                {% endif %}
            {% endif %}
        {% endif %}
        {% if interface.description is defined and interface.description %}
        description "{{ interface.description }}";
        {% endif %}
    {% if interface.name.startswith('irb') %}
        {% for unit in interface.units %}
        unit {{ unit.number }} {
            {% if unit.description is defined and unit.description %}
            description "{{ unit.description }}";
            {% endif %}
            {% if unit.gw is defined %}
            family inet {
                address {{ unit.ip_cidr }} {
                    vrrp-group {{ unit.vrrp_group }} {
                        virtual-address {{ unit.gw }};
                        accept-data;
                    }
                }
            }
            {% elif unit.vni_gw is defined %}
            family inet {
                address {{ unit.ip_cidr}} {
                    virtual-gateway-address {{ unit.vni_gw }};
                    preferred;
                }
            }
            proxy-macip-advertisement;
            virtual-gateway-accept-data;
            {% else %}
            family inet {
                address {{ unit.ip_cidr }};
            }
            {% endif %}
        }
        {% endfor %}
    {% elif interface.bundle is defined %}
        ether-options {
            802.3ad {{ interface.bundle }};
        }
    {% elif interface.trunk is defined %}
        unit 0 {
            family ethernet-switching {
            {% if interface.trunk %}
                interface-mode trunk;
            {% else %}
                interface-mode access;
            {% endif %}
                vlan {
                    {% set s = ' ' %}
                    members [ {{ s.join(interface.vlan) }} ];
                }
            }
        }
    {% elif interface.units is defined %}
        {% for unit in interface.units %}
        unit {{ unit.number }} {
            family inet {
                address {{ unit.ip_cidr }}
            }
        }
        {% endfor %}
    {% elif interface.ip_cidr is defined %}
        unit 0 {
            family inet {
                address {{ interface.ip_cidr }};
            }
        }
    {% endif %}
    }
    {% endfor %}
}
{% endif %}

