vlans {
{% if vlans is defined and vlans %}
    {% for vlan in vlans %}
    {{ vlan.name }} {
        {% if vlan.description is defined and
            vlan.description %}
        description "{{ vlan.description }}";
        {% endif %}
       vlan-id {{ vlan.id }};
       {% if vlan.l3_interface is defined and 
            vlan.l3_interface %}
        l3-interface {{ vlan.l3_interface }};
        {% endif %}
        vxlan {
            vni {{ 100000 + vlan.id }};
        }
    }
    {% endfor %}
{% endif %}
{% if nsx_vlan is defined and nsx_vlan %}
    {{ nsx_vlan.name }} {
        {% if nsx_vlan.description is defined and
            nsx_vlan.description %}
        description "{{ nsx_vlan.description }}";
        {% endif %}
        vlan-id {{ nsx_vlan.id }};
        l3-interface {{ nsx_vlan.l3_interface }};
        vxlan {
            vni {{ 100000 + nsx_vlan.id }};
        }
    }
{% endif %}
}

