routing-instances {
    OVERLAY_VR {
        instance-type virtual-router;
        routing-options {
            autonomous-system {{ local_asn }};
        }
        {% include 'to_distro/protocols.j2' %}
        {% if dc_interfaces is defined and dc_interfaces %}
            {% for neighbor in dc_interfaces %}
        interface {{ neighbor.name }};
            {% endfor %}
        {% endif %}
        {% if overlay_interfaces is defined and overlay_interfaces %}
            {% for interface in overlay_interfaces %}
                {% if interface.name == 'irb' %}
                    {% for irb in interface.units %}
        interface irb.{{ irb.number }};
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}  
        interface lo0.1;
    }
}

