protocols {
    bgp {
        group DISTRO_UNDERLAY {
            type external;
            mtu-discovery;
            import UNDERLAY_IMPORT;
            family inet {
                unicast;
            }
            export UNDERLAY_EXPORT;
            local-as "{{ underlay_as_prefix }}{{ inventory_hostname[1:5] }}";
            multipath {
                multiple-as;
            }
            bfd-liveness-detection {
                minimum-interval 500;
                multiplier 3;
                session-mode single-hop;
            }
            {% for neighbor in dc_interfaces %}
                {% if neighbor.underlay.neighbor_ip is defined %}
            neighbor {{ neighbor.underlay.neighbor_ip}} {
                    {% if neighbor.underlay.remote_as is defined %}
                peer-as {{ neighbor.underlay.remote_as }};
                    {%else %}
                peer-as {{ underlay_as_prefix }}{{ neighbor.description[1:5] }};
                    {% endif %}
            }
                {% endif %}
            {% endfor %}
        }
        group DISTRO_CLIENT {
            type internal;
            local-address {{ lo0_ip_cidr.split('/')[0] }};
            mtu-discovery;
            family inet {
                unicast;
            }
            cluster 0.0.0.1;
            export DISTRO_CLIENT_EXPORT;
            multipath;
            bfd-liveness-detection {
                minimum-interval 1000;
                multiplier 3;
                session-mode automatic;
            }
            {% for neighbor in dc_interfaces %}
                {% if neighbor.overlay.neighbor_ip is defined %}
            neighbor {{ neighbor.overlay.neighbor_ip }};
                {% endif %}
            {% endfor %}
        }
        group DISTRO-RR {
            type internal;
            local-address {{ lo0_ip_cidr.split('/')[0] }};
            family inet-vpn {
                unicast;
            }
            vpn-apply-export;
            bfd-liveness-detection {
                minimum-interval 1000;
                multiplier 3;
                session-mode automatic;
            }
            multipath;
            {% for host in groups['distro_router'] %}
                {% set spine_ip = hostvars[host]['lo0_ip_cidr'].split('/')[0] %}
                {% if spine_ip != lo0_ip_cidr.split('/')[0] %}
            neighbor {{ spine_ip }};
                {% endif %}
            {% endfor %}        
        }
    }
}