{% call junos.stanza() %}
switch-options {
    vtep-source-interface lo0.0;
    route-distinguisher {{ interfaces|selectattr('name', 'equalto', 'lo0')|map(attribute='ip_cidr')|first|ipv4('address') }}:1;
    vrf-target {
        target:65535.64999:9999;
        auto;
    }
}
{% endcall %}
